In [23]:
import pandas as pd
from fuzzywuzzy import process, fuzz

In [15]:
ba_filepath = 'data/Assets/Brewers_Association_Data_2015-1-1-1/2015_craft_volume.csv'
ba_df = pd.read_csv(ba_filepath, header=1)
ba_df.drop('Unnamed: 4', axis=1, inplace=True)
ba_df.head()

               Craft Brewer Name State Estimate 2015 Barrels
0               (405) Brewing Co    OK        Y          635
1               (512) Brewing Co    TX      NaN       11,000
2                    101 Brewery    WA        Y           47
3      101 North Brewing Company    CA        Y        2,100
4  10th District Brewing Company    MA      NaN          110

In [20]:
untappd_filepath = 'data/master_untappd_brewery_data.csv'
u_df = pd.read_csv(untappd_filepath)
u_df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
u_df['brewery_name'] = u_df['brewery_name'].apply(lambda x: x.replace('\n', '').replace('\t', ''))
u_df.head()

,brewery_account_status,brewery_description,brewery_id,brewery_location,brewery_name,brewery_num_beers,brewery_raters,brewery_rating,brewery_type,date_brewery_added,monthly_brewery_checkins,subsidiary_id,subsidiary_name,total_brewery_checkins,unique_brewery_checkins
0,Official,\n\t\t\t\t\t\t\tWhere ancient alchemy meets mo...,812,"\n\t\t\t\t\t\t\t\tSouth Burlington, VT \t\t\t\...",Magic Hat Brewing Company,70 Beers,"\n\t\t\t\t\t\t965,599 Ratings\t\t\t\t\t",(3.41),Micro Brewery,\n\t\t\t\t\t\tAdded 10/03/10\t\t\t\t\t,"11,376","[195747, 2336]","['Florida Ice and Farm Company S.A.', 'Cervece...",1.46M+,"372,439"
1,presumed_unclaimed,\n\t\t\t\t\t\t\tAlken-Maes was created out of ...,264,"\n\t\t\t\t\t\t\t\tMechelen, Antwerpen \t\t\t\t...",Brouwerij Alken-Maes,57 Beers,"\n\t\t\t\t\t\t254,798 Ratings\t\t\t\t\t",(3.45),Macro Brewery,\n\t\t\t\t\t\tAdded 10/12/10\t\t\t\t\t,"9,581","[1400, 344]","['Heineken', 'Carlsberg Group']","372,388","144,274"
2,Official,\n\t\t\t\t\t\t\tColorado brewers of America's ...,779,"\n\t\t\t\t\t\t\t\tLongmont, CO \t\t\t\t\t\t\t\...",Left Hand Brewing Company,334 Beers,"\n\t\t\t\t\t\t1,066,392 Ratings\t\t\t\t\t",(3.74),Micro Brewery,\n\t\t\t\t\t\tAdded 10/03/10\t\t\t\t\t,"25,284",NaN,NaN,1.56M+,"458,037"
3,Official,\n\t\t\t\t\t\t\tHet Anker continuously strives...,284,"\n\t\t\t\t\t\t\t\tMechelen, Antwerpen \t\t\t\t...",Brouwerij Het Anker,29 Beers,"\n\t\t\t\t\t\t276,020 Ratings\t\t\t\t\t",(3.78),Micro Brewery,\n\t\t\t\t\t\tAdded 10/08/10\t\t\t\t\t,"9,938",NaN,NaN,"365,984","145,970"
4,presumed_unclaimed,"\n\t\t\t\t\t\t\tRidgeway Brewing, in South Oxf...",1056,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tEngland\t\t\...,Ridgeway Brewing,41 Beers,"\n\t\t\t\t\t\t81,883 Ratings\t\t\t\t\t",(3.34),Micro Brewery,\n\t\t\t\t\t\tAdded 10/11/10\t\t\t\t\t,586,NaN,NaN,"97,056","54,908"

In [13]:
len(df['Craft Brewer Name'].values)

3971

In [26]:
id_dict = {}
choices = u_df['brewery_name'].values
for brewery in ba_df['Craft Brewer Name'][0:10]:
    print(brewery, process.extract(brewery, choices))

(405) Brewing Co
(512) Brewing Co
101 Brewery
101 North Brewing Company
10th District Brewing Company
11 Below Brewing Company
1188 Brewing Co
12 Gates Brewing Company
12 String Brewing Co
127 Brewing

In [28]:
process.extractOne('101 Brewery', choices)

('Charles Wells Brewery', 86)